body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.bg {
    opacity: 100%;
    filter: grayscale(100);
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/image\ 0.jpg");
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    text-align: center;
}

.home .content h3 {
    padding: 20px;
    font-size: 2.0rem;
    color: #fff;
}

.home .content p {
    font-size: 1.0rem;
    color: #fff;
    padding: .5rem 0;
}

.onea {
    border: 1px solid white;
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 10px;
    padding-left: 120px;
    margin-top: 100px;
    margin-left: 350px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    text-transform: uppercase;
}

.oneb {
    border: 1px solid white;
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 10px;
    padding-left: 120px;
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    text-transform: uppercase;
}

.two {
    text-align: justify;
    margin-top: 30px;
    padding-left: 24.5%;
    padding-right: 23%;
    font-size: 20px;
}

img {
    width: 750px;
    margin-left: 350px;
    margin-bottom: 25px;
}

.seven {
    text-align: justify;
    margin-top: 30px;
    padding-left: 24.5%;
    padding-right: 23%;
    font-size: 20px;
}

.eighta {
    background-color: #3B5998;
    margin-left: 350px;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-left: 60px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.eightb {
    background-color: #55ACEE;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-left: 60px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.eightc {
    background-color: #FF5733;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-left: 60px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.eightd {
    background-color: #c8232c;
    ;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-left: 60px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.start {
    text-align: justify;
    margin-top: 40px;
    padding-left: 24.5%;
    padding-right: 23%;
    font-size: 20px;
    font-style: var(#222);
}

.start .content p {
    color: rgb(212, 83, 35);
}